@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Color  */
:root {
  --primary: #01904d;
  --primary-light: #0ce47f;
  --secondary: #ff1810;
  --secondary-light: #ff9153;
  --violet: #7950f2;
  --violet-light: #eeedff;
  --blue: #007bff;
  --blue-light: #e8f7ff;
  --red: #dc1313;
  --red-light: #ffeaf4;
  --yellow: #ffc107;
  --yellow-light: #fff7e0;
  --transparent: transparent;
  --white: white;
  --white-15: #ffffff26;
  --white-transparent: #ffffffd0;
  --black: black;
  --black-10: #e6e6e6;
  --black-15: #d9d9d9;
  --black-30: #b3b3b3;
  --black-50: #7f7f7f;
  --black-70: #4c4c4c;
  --black-80: #333333;
  --black-transparent: #7f7f7f63;
  --frame-bg: #f3f3f9;

  /* All Gradient colors */
  --gradient-primary: linear-gradient(
    90deg,
    var(--primary),
    var(--primary-light)
  );
  --gradient-primary-reverse: linear-gradient(
    90deg,
    var(--primary-light),
    var(--primary)
  );

  --gradient-primary-light: linear-gradient(
    90deg,
    rgba(1, 144, 77, 0.1) 0.32%,
    rgba(12, 228, 127, 0.1) 102.21%
  );

  --gradient-secondary: linear-gradient(
    90deg,
    var(--secondary),
    var(--secondary-light)
  );

  --gradient-secondary-light: linear-gradient(
    270deg,
    rgba(255, 145, 83, 0.1) 0%,
    rgba(255, 24, 16, 0.1) 100%
  );

  --gradient-positive: linear-gradient(
    270deg,
    rgba(17, 159, 91, 0.1) 0%,
    rgba(17, 159, 91, 0.2) 100%
  );

  --gradient-positive-light: linear-gradient(
    270deg,
    rgba(36, 178, 144, 0.1) 0%,
    rgba(36, 178, 144, 0.2) 100%
  );

  --gradient-danger-light: linear-gradient(
    270deg,
    rgba(255, 56, 56, 0.1) 0%,
    rgba(255, 56, 56, 0.2) 100%
  );

  --gradient-warning-light: linear-gradient(
    270deg,
    rgba(239, 129, 68, 0.1) 0%,
    rgba(239, 129, 68, 0.2) 100%
  );

  --gradient-purple-light: linear-gradient(
    270deg,
    rgba(162, 112, 255, 0.1) 0%,
    rgba(162, 112, 255, 0.2) 100%
  );

  --gradient-blue-light: linear-gradient(
    270deg,
    rgba(91, 158, 242, 0.1) 0%,
    rgba(91, 158, 242, 0.2) 100%
  );
}

/* Layer component text gradient and main container */
@layer components {
  .main-container {
    @apply max-w-7xl mx-auto px-5 lg:px-10 md:px-8;
  }

  .text-gradient-primary {
    @apply bg-gradient-primary bg-clip-text text-transparent;
  }
  .text-gradient-secondary {
    @apply bg-gradient-secondary bg-clip-text text-transparent;
  }
}

@layer utilities {
  .border-gradient-primary {
    background-image: linear-gradient(white, white),
      linear-gradient(90deg, var(--primary), var(--primary-light));
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .all-feature {
    background-image: url("../assets/images/allFeatureBannerBg.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .footer-main {
    background-image: url("../assets/images/footerBg.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* scroll bar */
.scrollbar-x-remove::-webkit-scrollbar:horizontal {
  @apply hidden;
}
.scrollbar-y-remove::-webkit-scrollbar:vertical {
  @apply hidden;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-gradient-primary-light;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-primary;
}

.image-select-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
/* Neon Line start */

/* Updated grid size to 100px */
.bg-grid-pattern {
  background-image: linear-gradient(
      to right,
      rgba(255, 229, 229, 1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 229, 229, 1) 1px, transparent 1px);
  background-size: 250px 250px; /* Grid lines every 100px */
}

.neon-drop {
  position: absolute;
  width: 2px;
  height: 100px; /* Match the grid size for better alignment */
  background: linear-gradient(to bottom, transparent, #ff9153, transparent);
  animation: fall linear infinite;
  top: -100px; /* Start above the visible area */
}

.neon-drop-horizontal {
  position: absolute;
  height: 2px;
  width: 100px; /* Match the grid size for better alignment */
  background: linear-gradient(to right, transparent, #ff9153, transparent);
  animation: fall-horizontal linear infinite;
  left: -250px; /* Start off-screen */
}

@keyframes fall {
  to {
    transform: translateY(100vh); /* Vertical drop */
  }
}

@keyframes fall-horizontal {
  to {
    transform: translateX(100vw); /* Horizontal movement */
  }
}

/* Neon Line end */

@layer utilities {
  .border-neon {
    border-color: #00ff00; /* Neon green */
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }

  /* Nizam start */
  .perspective-180 {
    perspective: 400px;
  }
  .perspective-170 {
    perspective: -400px;
  }
  .paused {
    animation-play-state: paused;
  }

  .rotate-y-20 {
    transform: rotateY(20deg);
  }
  .rotate-y-23 {
    transform: rotateY(23deg);
  }
  .rotate-y-24 {
    transform: rotateY(-20deg);
  }
  .rotate-y-25 {
    transform: rotateY(-23deg);
  }
  /* Nizam End */
}

/* slide left and right and top and bottom animation start */
@keyframes waveAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-wave {
  animation: waveAnimation 2s ease-in-out infinite;
}

/* Slide in from the left */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide in from the right  */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide in from the top */
@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide in from the bottom */
@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation classes */
.animate-slide-in-left {
  animation: slideInLeft 0.5s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 0.5s ease-out forwards;
}

.animate-slide-in-top {
  animation: slideInTop 0.5s ease-out forwards;
}

.animate-slide-in-bottom {
  animation: slideInBottom 0.5s ease-out forwards;
}

/* slide left and right and top and bottom animation end */

/* Spin text animation start */

.spin-char {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0px;
  font-size: 12px;
  white-space: nowrap;
}

/* Optional spinning animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-text {
  animation: spin 15s linear infinite; /* Adjust speed as needed */
}

/* Spin text animation end */

/* * {
  outline: 1px solid red;
} */
